# Python
__pycache__/
*.py[cod]
*.pyo

# Ambiente virtual
.venv/
venv/

# Django / banco local
db.sqlite3
*.sqlite3

# Arquivos locais
.env
.env.*

# VS Code
.vscode/

# Sistema operacional
Thumbs.db
.DS_Store
